
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     max-width: 100%;
     min-height: 100vh;
     background: #ffff;
     font-family: "Poppins", sans-serif;    
}

.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%; 
    justify-content: space-between;
    align-items: center;
    z-index: 100 ;
}
.logo {
    font-size: 1.2rem; 
    color: #242635;
    text-decoration: none;
    font-weight: 600;    
}

.logo-dot {
    color: #242635;
    margin-right:89%;
    font-weight: 600;
}
