* {
        margin: 0;
        padding: 0;
   }

body {
        width: 100%;
        max-width: 1440px;
        /* height: 100vh; */
        /* min-height: 100vh; */
        display: flex;
        justify-content: center;
        flex-direction: column;   
        background-color: black;  
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;  
    }

 header {
        width: 100%;  
        max-width: 1440px;
        display: flex;
        align-items: center; 
        justify-content: center; 
        margin-left: 40px;      
    } 

.logo {
       color: aliceblue;
        font-size: 1.5rem;
        font-weight: 600;
    /* padding: 20px 10px;    */
        text-decoration: none;
        margin-left: 10%; 
        margin-top: 5%       
    }

.navbar {
        width: 100%;
        max-width: 1440px;  
        /* height: 10vh;  */
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;    
    } 

.menu-icon {
        width:40px;
        cursor: pointer;
        margin-top: 5%; 
        display: none;       
    }
   
nav {
        flex: 1;    
        min-width: 267px;
        flex-wrap: wrap;
        margin-left: 10%;  
        margin-top: 5%;  
    }

nav ul li  {
        display: inline-block;
        list-style: none; 
        padding: 10px;      
    }


nav ul li a {
        text-decoration: none;
        color: aliceblue;
        font-size: 15px;  
         padding:15px
    } 

nav ul li a:hover {
        color: red;
    } 

.toggle-button {
    position: absolute;
    top:1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 21px;
}  

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(246, 187, 78);
    border-radius: 10px;
}

 .content {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }  

.info-content {
        width: 22rem;
        max-width: 1440px;
        min-height: 10rem;
        display: flex;
        flex-direction: column;
        margin-left: 12%;
   }

h1 {
        color: #ffff;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 2;
    }

p {
        font-family: "Source Sans 3", sans-serif;
        font-size: 20px;
        color: #ffff;
        font-weight: normal;
        padding-top: 25%;     
   }

.wrapper { 
    
        width:35rem;
        max-width: 1440px;
        min-height: 40rem;
        display: flex;
        flex-wrap: wrap; 
        /* flex-direction: column;
        justify-content: center; */
        margin-bottom: 10%; 
        margin-right: 10%;  
   }

@media only screen and (max-width:1440px) {
    nav ul li {
        display: inline;
       padding-left: 10px;
       }           
   }


@media only screen and (max-width:1000px) {
    nav ul li {
        display: inline;
        margin-left: 10px ;
    }
    .nav-list{
        display: flex;
         float: right; 
         padding-right: 10px;  
    }   
    nav ul li a {
       padding: 10px; 
        color:  rgb(246, 187, 78);
        
    }
    .menu-icon  {
        display: block;
        cursor: pointer;
    }
    .content {
        display: inline;
        flex-direction: column;
        flex-wrap: wrap; 
    }
    h1 {
        font-size: 80px;
        color: rgb(246, 187, 78);
        align-items: center;
        padding-top: 50%;
    }
    p {
        font-size:15px;
        font-stretch: 35px;
        color:  rgb(246, 187, 78);
        text-align: center;
        padding-top: 10%;
    }
    .wrapper { 
         display: flex;
         flex-direction:column;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         min-height: 40rem;
         padding-top: 10%;
    }
}

@media (max-width:500px) {
    .toggle-button {
        display: flex;
    }
    .nav-list {
        display: none; 
        width: 100%;
    }
     .navbar {
        flex-direction: column;
        align-items: flex-start;
    } 
    .nav-list ul {
        width: 100%;
        flex-direction: column; 
    }
    .nav-list li {
        text-align: center; 
        text-decoration: underline;    
    }
    .nav-list li a {
        padding: .5rem 1rem;
        flex-direction: column;
    }
    .nav-list.active {
        display: flex;
    }
}
