* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    /* height: 100vh; */
    /* min-height: 100vh; */
     display: flex;
    justify-content: center;
    flex-direction: column;   
     background-color: black; 
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
   
}

 header {
   width: 100%;  
     /* height: 10vh;   */
    display: flex;
    /* align-items: center; */
    justify-content: center; 
     
      
} 

.logo {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
  /* padding: 20px 10px;    */
    text-decoration: none;
      margin-left: 10%; 
       margin-top: 5% 
       
}

 .navbar {
    width: 100%;
    max-width: 1440px;  
    /* height: 10vh;  */
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} 
 .menu-icon {
    width: 25px;
    cursor: pointer;
    margin-top: 5%;
   
    
 }
   


  nav {
    flex: 1;    
    min-width: 267px;
    flex-wrap: wrap;
    margin-left: 10%;  
    margin-top: 5%;  
}

nav ul li  {
    display: inline-block;
    list-style: none; 
     padding: 10px;  
    
    
}


nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
   
    
} 

nav ul li a:hover {
    color: red;
} 

 .content {
     
   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
   
         
 }  
.info-content {
    
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 10rem;
    margin-left: 12%;
    
}
h1 {
    color: #ffff;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2;
    
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    color: #ffff;
    font-weight: normal;
    padding-top: 25%;
   
      
}

.wrapper { 
    position: relative;
    width:35rem;
    /* height: 40rem; */
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center;
     margin-bottom: 10%; 
    margin-right: 10%;  
}


/* Image couldn't be postioned in vertical column */
  /* @media only screen and (max-width: 900px) {

   nav ul {
    width: 100%;
   }
       nav ul li {
        display: inline;
       }
    
   h1 {
    text-align: center;
   }

   p {
    text-align: center;
    width: 20rem;
   }

   .wrapper {
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;


   }  */
/* Image aligned but couldn't removed side scroll */
 @media only screen and (max-width:900px) {
      
       nav ul {
            width: 100%;
       }

        nav ul li {
            display: inline-block;
            justify-content: end; 
            align-items: end;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        
            
        } 

         /* .content {
            display: flex;
            flex-direction: column;
             margin-left: 10px ; 
             margin-right: 10px;
        }  */

/*  
        h1 {
            padding-top: 28%;
            text-align: center;
        }
  
        p {
            padding-top: 30%;
            width: 28rem;
            display: flex;
            text-align: center;
            
        } 
        
        .wrapper {
            
                 flex-basis: 100%; 
                padding-top: 35%;
                width:19rem;
                display: flex;
                flex-direction: column;
            
        } 
         */
           

 /* @media only screen and (max-width:400px) { 
    nav ul {
        max-width: 320px;
   }

    nav ul li {
        display: inline-block;
        justify-content: end; 
        align-items: end;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    nav ul li a {
        display: block;
    }
    .menu-icon {
        display: block; 
 }   
         */
          
        
 

 
 
