* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1400px;
    background-color: black;
    box-sizing: border-box;
}

.logo {
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10%; 
    cursor: pointer;
}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

 .navlist ul {
    /* margin-top: 5%; */
    padding:20px ;
    display: flex;
} 
.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    color: aliceblue;
    padding: 2rem;
    display: block;
    font-size: 20px;
}

.navbar li a:hover {
    color: yellowgreen;
}
.toggle-button {
    position:absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
     .toggle-button {
        display: flex;
    } 
    .navlist {
        /* display: none;   */
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navlist ul {
        width: 100%;
        flex-direction: column;
    }
    .navlist li {
        text-align: center;
        text-decoration: underline;
    }
    .navlist li a {
        padding: .5rem 1rem;
    }
    .navlist.active {
        display: flex;
    }
}
/* header { 
    width: 100%;  
    max-width: 1440px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-left: 40px;      
} 

.logo {
    
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
/* padding: 20px 10px;    
    text-decoration: none;
    margin-left: 10%; 
    margin-top: 5%       
}

.navbar {
    width: 100%;
    max-width: 1440px;  
    /* height: 10vh;  
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;    
} 



nav {
    flex: 1;    
    min-width: 267px;
    flex-wrap: wrap;
    margin-left: 10%;  
    margin-top: 5%;  
} */